{% extends "layout.html"%}

{%block content %}
<div class="fondo text-center">
   <div class="detalle">
       <a class="adminTitu link text-dark">Quienes somos</a>
       <div class="container py-5 align-items-center justify-content-around">
            <div class="row border p-3 my-3 border-3 rounded border-secondary">
                asdasddasd
            </div>
            <div class="row border p-3 my-3 border-3 rounded border-secondary">
                asdasdassaasd
            </div>              
            <div class="row border p-3 mt-3 border-3 rounded border-secondary">
                asdasd
            </div>
       </div>
    </div> 
</div>

{%include 'footer.html'%}
{%endblock%}