{% extends 'layout.html'%}

{% block content %}

<div class="casa py-4">
    <h1 class="adminTitu fonti"><a href='introAdmin' class="link text-dark">Administración de Inmobiliaria Centro</a></h1>
    <h3 class="subT">Listado de inquilinos</h3>
    <div class="container text-center">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} shadow" role="alert">
            <strong>{{message}}</strong> 
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="container"> 
    <table class="table table-dark table-striped shadow">
        <thead>
          <tr>
            <th scope="col">Locador</th>
            <th scope="col">Locatorio</th>
            <th scope="col">Direccion</th>
            <th scope="col">Agua/ Otros</th>
            <th scope="col">Precio</th>
            <th scope="col">Dia Pago</th>
            <th scope="col">Pago</th>
            <th scope="col">Liquidacion</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Eliminar</th>
          </tr>
        </thead>
        <tbody>
            {% for alquiler in alquileres %}
                <tr>
                    <form action="/actualizarPago/{{alquiler.0}}" method="POST">
                    <th scope="row"><a href='/listadoClientes' class="text-decoration-none text-white">{{alquiler.1}}</a></th>
                    <td><a href="/listadoClientes" class="text-decoration-none text-white">{{alquiler.2}}</a></td>
                    <td><a href="/listadoCasas" class="text-decoration-none text-white">{{alquiler.0}}</a></td>
                    <td>{{alquiler.5}}</td>
                    <td>${{alquiler.3}}</td>
                    <td>{{alquiler.4}}</td>
                        <td>
                            <select class="form-select-sm" aria-label="Default select example" name="pago">
                                <option selected value="{{alquiler.6}}">{{alquiler.6}}</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select-sm" aria-label="Default select example" name="liq">
                                <option selected value="{{alquiler.7}}">{{alquiler.7}}</option>
                                <option value="SI">SI</option>
                                <option value="NO">NO</option>
                            </select>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-dark">Actualizar</button> 
                        </td>  
                        <td>
                            <a href="/deleteAlquiler/{{alquiler.0}}" class="btn btn-dark btn-sm"> Eliminar </a>
                        </td>  
                    </tr>
                    </form>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    <a href="/agregarAlquiler"><button class="btn btn-dark btncon shadow" type="submit">Agregar nuevo alquiler</button></a>
</div>
{% include 'footer.html'%}
{%endblock%}