<div class="container text-center futer ">
    <div class="border p-5 border-warning rounded">
        <div class="row align-items-start titu">
            <div class="col">
            <h3>Atención</h3>
            </div>
            <div class="col">
            <h3 >Inmobiliaria Centro</h3>
            </div>
            <div class="col">
                
            </div>
        </div>
        <div class="row align-items-center py-2">
            <div class="col">
            🏠 25 de mayo 482, Punta Alta
            </div>
            <div class="col">
            📧 inmobiliariacentro@gmail.com
            </div>
            <div class="col">
                💼  Maria Ester Vivas M. N°1024
            </div>
        </div>
        <div class="row align-items-end">
            <div class="col">
            🕘 Lunes a Viernes de 09:00 a 15:00
            </div>
            <div class="col">
            ☎️ +54 (2932) - 434360
            </div>
            <div class="col">
                20 años brindando el mejor servicio 
            </div>
        </div>
    </div>
</div>